name: Main

on:
  repository_dispatch:
    types: [test_trigger]
  workflow_dispatch:
  schedule:
    - cron: "* 6,9,12,15,20 * * *"

jobs:
  github-metrics-general:
    name: metrics-general
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: Nakatai-0322
          config_gemoji: yes
          config_timezone: Asia/Tokyo
          filename: general.svg
          token: ${{ secrets.GH_TOKEN }}
          base: header
          config_order: base.header, isocalendar, languages, notable, discussions, topics
          output_action: gist
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_sections: most-used, recently-used
          plugin_languages_indepth: yes
          plugin_languages_limit: 2
          plugin_topics: yes
          plugin_topics_limit: 0
          plugin_topics_mode: icons
          plugin_notable: yes
          plugin_discussions: yes
          plugin_discussions_categories_limit: 8
  github-metrics-achievements:
    name: metrics-achievements
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          config_timezone: Asia/Tokyo
          filename: achievements.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_achievements: yes
          plugin_achievements_display: compact
  github-metrics-medias:
    name: metrics-medias
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: medias.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          config_timezone: Asia/Tokyo
          config_order: anilist, music
          output_action: gist
          plugin_music: yes
          plugin_music_provider: spotify
          plugin_music_token: ${{ secrets.SPOTIFY_CLIENT_ID }}, ${{ secrets.SPOTIFY_CLIENT_SECRET }}, ${{ secrets.SPOTIFY_REFRESH_TOKEN }}
          plugin_music_mode: recent
          plugin_music_played_at: yes
          plugin_music_limit: 9
          plugin_rss: yes
          plugin_rss_source: https://nakatai.ga/rss.xml
          plugin_rss_limit: 8
  waka-read-me:
    name: waka-stats
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
